﻿<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">Bank of Canada conversion tool</h5>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="amountInput">Amount</label>
                    <input placeholder="Enter amount" class="form-control" @oninput="@amountChanged" id="amountInput" />
                    <small class="form-text text-danger">@message</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="dateInput">Date of exchange rate</label>
                    <input type="date" @onchange="changeDate" class="form-control" value="@selectedDate.ToString("yyyy-MM-dd")" id="dateInput" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="from">From</label>
                    <select @onchange="changeFrom" class="form-control">
                        @foreach (var currency in MZ_CodeTest.Shared.Helpers.CurrencyCodes.codes)
                        {
                            <option value=@currency>@currency</option>
                        }
                    </select>

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="to">To</label>
                    <select @onchange="changeTo" class="form-control" id="to">
                        @foreach (var currency in MZ_CodeTest.Shared.Helpers.CurrencyCodes.codes)
                        {
                            <option value=@currency>@currency</option>
                        }
                    </select>
                </div>
            </div>
            <br />
        </div>
        <div class="row">
            <div class="col mt-3">
                @if (!isLoading)
                {
                    <div class="text-center">
                        <h5 class="card-title text-success">@convertedAmount</h5>
                        <p class="card-text">@currentExchange.Label</p>
                        <p class="card-text">@currentExchange.AsOf</p>

                    </div>
                }
                else
                {
                    <div class="text-center">
                        <div class="spinner-border text-primary-color" style="width: 4.5rem; height: 4.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="mt-2 text-primary-color text-center">
                            <b>...loading exchange rates</b>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>