﻿
<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">Quick convert from Canadian (European Central Bank)</h5>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="amountInput">Amount in CAD</label>
                    <input placeholder="Enter amount" class="form-control" @oninput="@amountChanged" id="amountInput" />
                    <small class="form-text text-danger">@message</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="dateInput">Date of exchange rate</label>
                    <input type="date" @onchange="changeDate" class="form-control" value="@selectedDate.ToString("yyyy-MM-dd")" id="dateInput" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                @if (currentValues != null)
                {
                    <ul class="list-group">
                        @foreach (var kvp in currentValues)
                        {
                            <ExchangeCard amount="@_client.FormatCurrency(kvp.Key, kvp.Value)" currency="@kvp.Key" />
                        }
                    </ul>
                }
                else
                {
                    <div class="text-center">
                        <div class="spinner-border text-primary-color" style="width: 4.5rem; height: 4.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="mt-2 text-primary-color text-center">
                            <b>...loading rates for @selectedDate.ToString("yyyy-MM-dd")</b>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

