﻿@page "/"

<h1 style="color: #D84000;">MarshallZehr Code Challenge</h1>
<h5>By Sean Makins</h5>

<p class="mt-5">
    Bank of Canada APi is implemented but it made me curious about other implementations of this data resource requirement. I kept it in as the results were quite different, and showed couple ways to tackle a task ..
</p>




